.button, .tw-btn, .tw-btn-large, .tw-btn-clear, .tw-btn-Round, .tw-btn-Round-large, .tw-btn-float-large {
  border: none;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent; }

.tw-btn {
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 3px; }
  .tw-btn-large {
    padding: 0 2rem;
    border-radius: 3px;
    height: 54px;
    line-height: 54px; }
  .tw-btn[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.2); }

.tw-btn-clear {
  box-shadow: none;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 3px;
  background-color: transparent; }
  .tw-btn-clear:hover {
    background: rgba(0, 0, 0, 0.3); }

i.fa::before {
  padding: .1rem; }

.tw-btn-Round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-transform: translate3d(0, 0, 0);;
  -moz-transform: translate3d(0, 0, 0);;
  -o-transform: translate3d(0, 0, 0);;
  -ms-transform: translate3d(0, 0, 0);;
  transform: translate3d(0, 0, 0);; }
  .tw-btn-Round-large {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-transform: translate3d(0, 0, 0);;
    -moz-transform: translate3d(0, 0, 0);;
    -o-transform: translate3d(0, 0, 0);;
    -ms-transform: translate3d(0, 0, 0);;
    transform: translate3d(0, 0, 0);; }

.tw-btn-float {
  height: 36px;
  line-height: 36px; }
  .tw-btn-float-large {
    height: 54px;
    line-height: 54px; }

.waves-effect {
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  z-index: 1; }

.wave {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 0;
  will-change: transform ,opacity;
  opacity: 0;
  pointer-events: none; }
  .wave.wave-color-white {
    background: rgba(255,255,255, 0.4); }
  .wave.wave-color-white2 {
    background: rgba(255,255,255, 0.4);
    background: -webkit-radial-gradient(rgba(255,255,255, 0.1) 0,rgba(255,255,255, 0.3) 30%,rgba(255,255,255, 0.4) 40%,rgba(255,255,255, 0.5) 50%, rgba(255,255,255, 0.6) 60%, rgba(255,255,255, 0.7) 70%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0.4) 70%, rgba(255,255,255, 0));
    background: -o-radial-gradient(rgba(255,255,255, 0.1) 0,rgba(255,255,255, 0.3) 30%,rgba(255,255,255, 0.4) 40%,rgba(255,255,255, 0.5) 50%, rgba(255,255,255, 0.6) 60%, rgba(255,255,255, 0.7) 70%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0.4) 70%, rgba(255,255,255, 0));
    background: -ms-radial-gradient(rgba(255,255,255, 0.1) 0,rgba(255,255,255, 0.3) 30%,rgba(255,255,255, 0.4) 40%,rgba(255,255,255, 0.5) 50%, rgba(255,255,255, 0.6) 60%, rgba(255,255,255, 0.7) 70%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0.4) 70%, rgba(255,255,255, 0));
    background: -moz-radial-gradient(rgba(255,255,255, 0.1) 0,rgba(255,255,255, 0.3) 30%,rgba(255,255,255, 0.4) 40%,rgba(255,255,255, 0.5) 50%, rgba(255,255,255, 0.6) 60%, rgba(255,255,255, 0.7) 70%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0.4) 70%, rgba(255,255,255, 0));
    background: radial-gradient(rgba(255,255,255, 0.1) 0,rgba(255,255,255, 0.3) 30%,rgba(255,255,255, 0.4) 40%,rgba(255,255,255, 0.5) 50%, rgba(255,255,255, 0.6) 60%, rgba(255,255,255, 0.7) 70%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0.4) 70%, rgba(255,255,255, 0)); }
  .wave.wave-color-black {
    background: rgba(0,0,0, 0.4); }
  .wave.wave-color-black2 {
    background: rgba(0,0,0, 0.4);
    background: -webkit-radial-gradient(rgba(0,0,0, 0.1) 0,rgba(0,0,0, 0.3) 30%,rgba(0,0,0, 0.4) 40%,rgba(0,0,0, 0.5) 50%, rgba(0,0,0, 0.6) 60%, rgba(0,0,0, 0.7) 70%, rgba(0,0,0, 0.5) 60%, rgba(0,0,0, 0.4) 70%, rgba(0,0,0, 0));
    background: -o-radial-gradient(rgba(0,0,0, 0.1) 0,rgba(0,0,0, 0.3) 30%,rgba(0,0,0, 0.4) 40%,rgba(0,0,0, 0.5) 50%, rgba(0,0,0, 0.6) 60%, rgba(0,0,0, 0.7) 70%, rgba(0,0,0, 0.5) 60%, rgba(0,0,0, 0.4) 70%, rgba(0,0,0, 0));
    background: -ms-radial-gradient(rgba(0,0,0, 0.1) 0,rgba(0,0,0, 0.3) 30%,rgba(0,0,0, 0.4) 40%,rgba(0,0,0, 0.5) 50%, rgba(0,0,0, 0.6) 60%, rgba(0,0,0, 0.7) 70%, rgba(0,0,0, 0.5) 60%, rgba(0,0,0, 0.4) 70%, rgba(0,0,0, 0));
    background: -moz-radial-gradient(rgba(0,0,0, 0.1) 0,rgba(0,0,0, 0.3) 30%,rgba(0,0,0, 0.4) 40%,rgba(0,0,0, 0.5) 50%, rgba(0,0,0, 0.6) 60%, rgba(0,0,0, 0.7) 70%, rgba(0,0,0, 0.5) 60%, rgba(0,0,0, 0.4) 70%, rgba(0,0,0, 0));
    background: radial-gradient(rgba(0,0,0, 0.1) 0,rgba(0,0,0, 0.3) 30%,rgba(0,0,0, 0.4) 40%,rgba(0,0,0, 0.5) 50%, rgba(0,0,0, 0.6) 60%, rgba(0,0,0, 0.7) 70%, rgba(0,0,0, 0.5) 60%, rgba(0,0,0, 0.4) 70%, rgba(0,0,0, 0)); }
  .wave.wave-color-green {
    background: rgba(76, 175, 80, 0.4); }
  .wave.wave-color-green2 {
    background: rgba(76, 175, 80, 0.4);
    background: -webkit-radial-gradient(rgba(76, 175, 80, 0.1) 0,rgba(76, 175, 80, 0.3) 30%,rgba(76, 175, 80, 0.4) 40%,rgba(76, 175, 80, 0.5) 50%, rgba(76, 175, 80, 0.6) 60%, rgba(76, 175, 80, 0.7) 70%, rgba(76, 175, 80, 0.5) 60%, rgba(76, 175, 80, 0.4) 70%, rgba(76, 175, 80, 0));
    background: -o-radial-gradient(rgba(76, 175, 80, 0.1) 0,rgba(76, 175, 80, 0.3) 30%,rgba(76, 175, 80, 0.4) 40%,rgba(76, 175, 80, 0.5) 50%, rgba(76, 175, 80, 0.6) 60%, rgba(76, 175, 80, 0.7) 70%, rgba(76, 175, 80, 0.5) 60%, rgba(76, 175, 80, 0.4) 70%, rgba(76, 175, 80, 0));
    background: -ms-radial-gradient(rgba(76, 175, 80, 0.1) 0,rgba(76, 175, 80, 0.3) 30%,rgba(76, 175, 80, 0.4) 40%,rgba(76, 175, 80, 0.5) 50%, rgba(76, 175, 80, 0.6) 60%, rgba(76, 175, 80, 0.7) 70%, rgba(76, 175, 80, 0.5) 60%, rgba(76, 175, 80, 0.4) 70%, rgba(76, 175, 80, 0));
    background: -moz-radial-gradient(rgba(76, 175, 80, 0.1) 0,rgba(76, 175, 80, 0.3) 30%,rgba(76, 175, 80, 0.4) 40%,rgba(76, 175, 80, 0.5) 50%, rgba(76, 175, 80, 0.6) 60%, rgba(76, 175, 80, 0.7) 70%, rgba(76, 175, 80, 0.5) 60%, rgba(76, 175, 80, 0.4) 70%, rgba(76, 175, 80, 0));
    background: radial-gradient(rgba(76, 175, 80, 0.1) 0,rgba(76, 175, 80, 0.3) 30%,rgba(76, 175, 80, 0.4) 40%,rgba(76, 175, 80, 0.5) 50%, rgba(76, 175, 80, 0.6) 60%, rgba(76, 175, 80, 0.7) 70%, rgba(76, 175, 80, 0.5) 60%, rgba(76, 175, 80, 0.4) 70%, rgba(76, 175, 80, 0)); }
  .wave.wave-color-yellow {
    background: rgba(255, 235, 59, 0.4); }
  .wave.wave-color-yellow2 {
    background: rgba(255, 235, 59, 0.4);
    background: -webkit-radial-gradient(rgba(255, 235, 59, 0.1) 0,rgba(255, 235, 59, 0.3) 30%,rgba(255, 235, 59, 0.4) 40%,rgba(255, 235, 59, 0.5) 50%, rgba(255, 235, 59, 0.6) 60%, rgba(255, 235, 59, 0.7) 70%, rgba(255, 235, 59, 0.5) 60%, rgba(255, 235, 59, 0.4) 70%, rgba(255, 235, 59, 0));
    background: -o-radial-gradient(rgba(255, 235, 59, 0.1) 0,rgba(255, 235, 59, 0.3) 30%,rgba(255, 235, 59, 0.4) 40%,rgba(255, 235, 59, 0.5) 50%, rgba(255, 235, 59, 0.6) 60%, rgba(255, 235, 59, 0.7) 70%, rgba(255, 235, 59, 0.5) 60%, rgba(255, 235, 59, 0.4) 70%, rgba(255, 235, 59, 0));
    background: -ms-radial-gradient(rgba(255, 235, 59, 0.1) 0,rgba(255, 235, 59, 0.3) 30%,rgba(255, 235, 59, 0.4) 40%,rgba(255, 235, 59, 0.5) 50%, rgba(255, 235, 59, 0.6) 60%, rgba(255, 235, 59, 0.7) 70%, rgba(255, 235, 59, 0.5) 60%, rgba(255, 235, 59, 0.4) 70%, rgba(255, 235, 59, 0));
    background: -moz-radial-gradient(rgba(255, 235, 59, 0.1) 0,rgba(255, 235, 59, 0.3) 30%,rgba(255, 235, 59, 0.4) 40%,rgba(255, 235, 59, 0.5) 50%, rgba(255, 235, 59, 0.6) 60%, rgba(255, 235, 59, 0.7) 70%, rgba(255, 235, 59, 0.5) 60%, rgba(255, 235, 59, 0.4) 70%, rgba(255, 235, 59, 0));
    background: radial-gradient(rgba(255, 235, 59, 0.1) 0,rgba(255, 235, 59, 0.3) 30%,rgba(255, 235, 59, 0.4) 40%,rgba(255, 235, 59, 0.5) 50%, rgba(255, 235, 59, 0.6) 60%, rgba(255, 235, 59, 0.7) 70%, rgba(255, 235, 59, 0.5) 60%, rgba(255, 235, 59, 0.4) 70%, rgba(255, 235, 59, 0)); }
  .wave.wave-color-red {
    background: rgba(255, 0, 0, 0.4); }
  .wave.wave-color-red2 {
    background: rgba(255, 0, 0, 0.4);
    background: -webkit-radial-gradient(rgba(255, 0, 0, 0.1) 0,rgba(255, 0, 0, 0.3) 30%,rgba(255, 0, 0, 0.4) 40%,rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.6) 60%, rgba(255, 0, 0, 0.7) 70%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0));
    background: -o-radial-gradient(rgba(255, 0, 0, 0.1) 0,rgba(255, 0, 0, 0.3) 30%,rgba(255, 0, 0, 0.4) 40%,rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.6) 60%, rgba(255, 0, 0, 0.7) 70%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0));
    background: -ms-radial-gradient(rgba(255, 0, 0, 0.1) 0,rgba(255, 0, 0, 0.3) 30%,rgba(255, 0, 0, 0.4) 40%,rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.6) 60%, rgba(255, 0, 0, 0.7) 70%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0));
    background: -moz-radial-gradient(rgba(255, 0, 0, 0.1) 0,rgba(255, 0, 0, 0.3) 30%,rgba(255, 0, 0, 0.4) 40%,rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.6) 60%, rgba(255, 0, 0, 0.7) 70%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0));
    background: radial-gradient(rgba(255, 0, 0, 0.1) 0,rgba(255, 0, 0, 0.3) 30%,rgba(255, 0, 0, 0.4) 40%,rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.6) 60%, rgba(255, 0, 0, 0.7) 70%, rgba(255, 0, 0, 0.5) 60%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0)); }
