.card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }
  .card.col {
    padding: 0; }
  .card.sidetemplate {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .card.sidetemplate .side-content {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .card.sidetemplate .side-content .card-content {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
    .card.sidetemplate .sideimg {
      max-width: 50%;
      position: relative;
      bottom: 0px; }
      .card.sidetemplate .sideimg img {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px 0 0 2px; }
  .card .card-title {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding: 0.2rem; }
  .card .card-profile img {
    border-radius: 2px 2px 0 0;
    width: 100%; }
  .card .card-content {
    border-radius: 2px;
    padding: 0.75rem; }
  .card .card-action {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem; }
    .card .card-action a:not([class|="tw"]) {
      margin-right: 20px;
      color: #ffb300;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      -ms-transition: color 0.2s;
      transition: color 0.2s; }
      .card .card-action a:not([class|="tw"]):hover {
        color: #ff6f00; }
