::-webkit-input-placeholder {
  color: grey; }

:-moz-placeholder {
  /* Firefox 18- */
  color: grey; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: grey; }

:-ms-input-placeholder {
  color: grey; }

.input-field-label {
  bottom: 0;
  font-size: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 100%;
  transform-origin: 0 0;
  white-space: nowrap;
  text-align: left;
  -webkit-transition: color 0.2s, transform 0.2s;
  -moz-transition: color 0.2s, transform 0.2s;
  -o-transition: color 0.2s, transform 0.2s;
  -ms-transition: color 0.2s, transform 0.2s;
  transition: color 0.2s, transform 0.2s; }

.tw-input-field {
  position: relative;
  margin: .5rem 0;
  user-select: none; }
  .tw-input-field.col label {
    left: 0.75rem; }
  .tw-input-field.col hr.focusline {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem; }
  .tw-input-field hr.focusline {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #1a237e;
    -webkit-transition: transform 0.2s ease,background 0.2s ease;
    -moz-transition: transform 0.2s ease,background 0.2s ease;
    -o-transition: transform 0.2s ease,background 0.2s ease;
    -ms-transition: transform 0.2s ease,background 0.2s ease;
    transition: transform 0.2s ease,background 0.2s ease;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    z-index: 1;
    border: 0;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  height: 3rem;
  font-size: 1rem;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3); }
  input:not([type]).dirty + .input-field-label,
  input[type=text].dirty + .input-field-label,
  input[type=password].dirty + .input-field-label,
  input[type=email].dirty + .input-field-label,
  input[type=url].dirty + .input-field-label,
  input[type=time].dirty + .input-field-label,
  input[type=date].dirty + .input-field-label,
  input[type=datetime].dirty + .input-field-label,
  input[type=datetime-local].dirty + .input-field-label,
  input[type=tel].dirty + .input-field-label,
  input[type=number].dirty + .input-field-label,
  input[type=search].dirty + .input-field-label {
    -webkit-transform: translateY(-1.5rem) scale(0.7);;
    -moz-transform: translateY(-1.5rem) scale(0.7);;
    -o-transform: translateY(-1.5rem) scale(0.7);;
    -ms-transform: translateY(-1.5rem) scale(0.7);;
    transform: translateY(-1.5rem) scale(0.7);; }
    input:not([type]).dirty + .input-field-label + hr.focusline,
    input[type=text].dirty + .input-field-label + hr.focusline,
    input[type=password].dirty + .input-field-label + hr.focusline,
    input[type=email].dirty + .input-field-label + hr.focusline,
    input[type=url].dirty + .input-field-label + hr.focusline,
    input[type=time].dirty + .input-field-label + hr.focusline,
    input[type=date].dirty + .input-field-label + hr.focusline,
    input[type=datetime].dirty + .input-field-label + hr.focusline,
    input[type=datetime-local].dirty + .input-field-label + hr.focusline,
    input[type=tel].dirty + .input-field-label + hr.focusline,
    input[type=number].dirty + .input-field-label + hr.focusline,
    input[type=search].dirty + .input-field-label + hr.focusline {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -o-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
  input:not([type])[placeholder] + .input-field-label,
  input[type=text][placeholder] + .input-field-label,
  input[type=password][placeholder] + .input-field-label,
  input[type=email][placeholder] + .input-field-label,
  input[type=url][placeholder] + .input-field-label,
  input[type=time][placeholder] + .input-field-label,
  input[type=date][placeholder] + .input-field-label,
  input[type=datetime][placeholder] + .input-field-label,
  input[type=datetime-local][placeholder] + .input-field-label,
  input[type=tel][placeholder] + .input-field-label,
  input[type=number][placeholder] + .input-field-label,
  input[type=search][placeholder] + .input-field-label {
    -webkit-transform: translateY(-1.5rem) scale(0.7);;
    -moz-transform: translateY(-1.5rem) scale(0.7);;
    -o-transform: translateY(-1.5rem) scale(0.7);;
    -ms-transform: translateY(-1.5rem) scale(0.7);;
    transform: translateY(-1.5rem) scale(0.7);; }
  input:not([type]).valid + .input-field-label,
  input[type=text].valid + .input-field-label,
  input[type=password].valid + .input-field-label,
  input[type=email].valid + .input-field-label,
  input[type=url].valid + .input-field-label,
  input[type=time].valid + .input-field-label,
  input[type=date].valid + .input-field-label,
  input[type=datetime].valid + .input-field-label,
  input[type=datetime-local].valid + .input-field-label,
  input[type=tel].valid + .input-field-label,
  input[type=number].valid + .input-field-label,
  input[type=search].valid + .input-field-label {
    color: #76ff03; }
    input:not([type]).valid + .input-field-label + hr.focusline,
    input[type=text].valid + .input-field-label + hr.focusline,
    input[type=password].valid + .input-field-label + hr.focusline,
    input[type=email].valid + .input-field-label + hr.focusline,
    input[type=url].valid + .input-field-label + hr.focusline,
    input[type=time].valid + .input-field-label + hr.focusline,
    input[type=date].valid + .input-field-label + hr.focusline,
    input[type=datetime].valid + .input-field-label + hr.focusline,
    input[type=datetime-local].valid + .input-field-label + hr.focusline,
    input[type=tel].valid + .input-field-label + hr.focusline,
    input[type=number].valid + .input-field-label + hr.focusline,
    input[type=search].valid + .input-field-label + hr.focusline {
      background: #76ff03; }
  input:not([type]).invalid + .input-field-label,
  input[type=text].invalid + .input-field-label,
  input[type=password].invalid + .input-field-label,
  input[type=email].invalid + .input-field-label,
  input[type=url].invalid + .input-field-label,
  input[type=time].invalid + .input-field-label,
  input[type=date].invalid + .input-field-label,
  input[type=datetime].invalid + .input-field-label,
  input[type=datetime-local].invalid + .input-field-label,
  input[type=tel].invalid + .input-field-label,
  input[type=number].invalid + .input-field-label,
  input[type=search].invalid + .input-field-label {
    color: #d50000; }
    input:not([type]).invalid + .input-field-label + hr.focusline,
    input[type=text].invalid + .input-field-label + hr.focusline,
    input[type=password].invalid + .input-field-label + hr.focusline,
    input[type=email].invalid + .input-field-label + hr.focusline,
    input[type=url].invalid + .input-field-label + hr.focusline,
    input[type=time].invalid + .input-field-label + hr.focusline,
    input[type=date].invalid + .input-field-label + hr.focusline,
    input[type=datetime].invalid + .input-field-label + hr.focusline,
    input[type=datetime-local].invalid + .input-field-label + hr.focusline,
    input[type=tel].invalid + .input-field-label + hr.focusline,
    input[type=number].invalid + .input-field-label + hr.focusline,
    input[type=search].invalid + .input-field-label + hr.focusline {
      background: #d50000; }
  input:not([type]).active + .input-field-label,
  input[type=text].active + .input-field-label,
  input[type=password].active + .input-field-label,
  input[type=email].active + .input-field-label,
  input[type=url].active + .input-field-label,
  input[type=time].active + .input-field-label,
  input[type=date].active + .input-field-label,
  input[type=datetime].active + .input-field-label,
  input[type=datetime-local].active + .input-field-label,
  input[type=tel].active + .input-field-label,
  input[type=number].active + .input-field-label,
  input[type=search].active + .input-field-label {
    color: #1a237e;
    -webkit-transform: translateY(-1.5rem) scale(0.7);;
    -moz-transform: translateY(-1.5rem) scale(0.7);;
    -o-transform: translateY(-1.5rem) scale(0.7);;
    -ms-transform: translateY(-1.5rem) scale(0.7);;
    transform: translateY(-1.5rem) scale(0.7);; }
    input:not([type]).active + .input-field-label + hr.focusline,
    input[type=text].active + .input-field-label + hr.focusline,
    input[type=password].active + .input-field-label + hr.focusline,
    input[type=email].active + .input-field-label + hr.focusline,
    input[type=url].active + .input-field-label + hr.focusline,
    input[type=time].active + .input-field-label + hr.focusline,
    input[type=date].active + .input-field-label + hr.focusline,
    input[type=datetime].active + .input-field-label + hr.focusline,
    input[type=datetime-local].active + .input-field-label + hr.focusline,
    input[type=tel].active + .input-field-label + hr.focusline,
    input[type=number].active + .input-field-label + hr.focusline,
    input[type=search].active + .input-field-label + hr.focusline {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -o-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
  input:not([type]).valid + .input-field-label,
  input[type=text].valid + .input-field-label,
  input[type=password].valid + .input-field-label,
  input[type=email].valid + .input-field-label,
  input[type=url].valid + .input-field-label,
  input[type=time].valid + .input-field-label,
  input[type=date].valid + .input-field-label,
  input[type=datetime].valid + .input-field-label,
  input[type=datetime-local].valid + .input-field-label,
  input[type=tel].valid + .input-field-label,
  input[type=number].valid + .input-field-label,
  input[type=search].valid + .input-field-label {
    -webkit-transform: translateY(-1.5rem) scale(0.7);;
    -moz-transform: translateY(-1.5rem) scale(0.7);;
    -o-transform: translateY(-1.5rem) scale(0.7);;
    -ms-transform: translateY(-1.5rem) scale(0.7);;
    transform: translateY(-1.5rem) scale(0.7);; }
    input:not([type]).valid + .input-field-label + hr.focusline,
    input[type=text].valid + .input-field-label + hr.focusline,
    input[type=password].valid + .input-field-label + hr.focusline,
    input[type=email].valid + .input-field-label + hr.focusline,
    input[type=url].valid + .input-field-label + hr.focusline,
    input[type=time].valid + .input-field-label + hr.focusline,
    input[type=date].valid + .input-field-label + hr.focusline,
    input[type=datetime].valid + .input-field-label + hr.focusline,
    input[type=datetime-local].valid + .input-field-label + hr.focusline,
    input[type=tel].valid + .input-field-label + hr.focusline,
    input[type=number].valid + .input-field-label + hr.focusline,
    input[type=search].valid + .input-field-label + hr.focusline {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -o-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=time]:focus,
  input[type=date]:focus,
  input[type=datetime]:focus,
  input[type=datetime-local]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=search]:focus {
    outline: 0; }

.tw-select-box {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent; }
  .tw-select-box .select-input {
    cursor: pointer; }
  .tw-select-box .select-dropdown {
    top: 0px;
    left: 0px; }
    .tw-select-box .select-dropdown li.selected {
      background: grey; }
    .tw-select-box .select-dropdown li.disabled {
      color: grey; }
  .tw-select-box .select-caret-down {
    position: absolute;
    margin: auto 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 15px;
    font-size: 15px;
    z-index: -1; }

.tw-dropdown {
  position: absolute;
  padding: 0;
  margin: 0;
  will-change: max-height,opacity;
  overflow-y: auto;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  max-height: 500px;
  display: none;
  opacity: 0;
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  -o-transform: scaleY(0.7);
  -ms-transform: scaleY(0.7);
  transform: scaleY(0.7);
  border-radius: 5px; }
  .tw-dropdown li {
    text-transform: none;
    list-style-type: none;
    min-height: 2.5rem;
    line-height: 2.5rem;
    text-align: left;
    cursor: pointer; }
    .tw-dropdown li:hover {
      background: #f1f1f1; }
    .tw-dropdown li.disabled:hover {
      background: none; }
    .tw-dropdown li span {
      font-weight: bold;
      padding: 0.5rem 1rem; }
