#modal-shadow {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 120vh;
  z-index: 1002;
  background-color: black;
  will-change: opacity;
  opacity: 0; }

.modal {
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  max-height: 70%;
  width: 55%;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  will-change: transform;
  opacity: 0;
  z-index: 1003;
  background-color: white;
  border-radius: 2px;
  overflow: hidden; }
  .modal .modal-content {
    padding: 1.2rem; }
  .modal .modal-footer {
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.2rem;
    text-align: right;
    margin: 0 1.2rem; }
