@charset "UTF-8";
#aboutModal {
  width: 700px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-weight: 700; }

#aboutModal .title {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold; }

.button-group {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 1rem; }

.footer-button-group {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 1rem;
  bottom: 0; }

.view-icon {
  position: relative;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 2rem;
  padding: 0 1rem;
  height: 3rem;
  margin-left: 1rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  margin: auto auto; }
  .view-icon:hover {
    background: transparent;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .view-icon.fb-icon {
    color: #5C6BC0; }

.poliocard {
  margin: 0.5rem; }

#aboutModal .profile > img {
  width: 80px;
  height: 80px;
  border-radius: 50%; }

#aboutModal .modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

#myside-nav {
  background: #9E9E9E; }

footer {
  height: 20vh;
  position: relative;
  width: 100%;
  bottom: 0;
  background: white; }
  footer .footer-content {
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 0.5rem; }
    footer .footer-content .content-text {
      position: absolute;
      top: 0;
      height: 50%;
      text-align: center;
      left: 0;
      right: 0;
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: .5rem; }
      footer .footer-content .content-text .gitUrl {
        text-decoration: underline;
        padding-top: 0.2rem;
        font-size: 0.8rem;
        cursor: pointer; }

main {
  position: relative;
  width: 100%;
  height: 280vh; }
  main .main-content {
    position: relative;
    height: 100vh; }
    main .main-content.last-content {
      height: 80vh; }

.content-card {
  position: absolute;
  width: 70%;
  top: 60px;
  right: 0;
  left: 0;
  height: 100%;
  margin-top: 2rem;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .content-card .card-content {
    margin-bottom: 2rem; }
    .content-card .card-content img {
      width: 40%; }
    .content-card .card-content .card-text {
      text-align: center;
      font-weight: 800;
      margin-top: 0.5rem; }
  .content-card.show {
    opacity: 1; }

.scroll-down-trigger {
  position: absolute;
  bottom: 1rem;
  color: white;
  font-size: 3rem;
  padding: 0 3rem;
  height: 3rem;
  line-height: 3rem;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation: triggerMove 0.75s infinite;
  -moz-animation: triggerMove 0.75s infinite;
  -ms-animation: triggerMove 0.75s infinite;
  -o-animation: triggerMove 0.75s infinite;
  animation: triggerMove 0.75s infinite;
  overflow: visible; }
  .scroll-down-trigger::after {
    content: "아래로 이동";
    position: absolute;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 12rem;
    padding: 0 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    z-index: 100;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    -moz-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    -o-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    -ms-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);; }
  .scroll-down-trigger:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }
    .scroll-down-trigger:hover::after {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px); }

.scroll-up-trigger {
  position: absolute;
  bottom: 3rem;
  color: white;
  font-size: 3rem;
  padding: 0 3rem;
  height: 3rem;
  line-height: 3rem;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation: triggerMove 0.75s infinite;
  -moz-animation: triggerMove 0.75s infinite;
  -ms-animation: triggerMove 0.75s infinite;
  -o-animation: triggerMove 0.75s infinite;
  animation: triggerMove 0.75s infinite;
  overflow: visible; }
  .scroll-up-trigger::after {
    content: "맨위로  이동";
    position: absolute;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 12rem;
    padding: 0 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    z-index: 100;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    -moz-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    -o-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    -ms-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);; }
  .scroll-up-trigger:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }
    .scroll-up-trigger:hover::after {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px); }

.fixed {
  position: fixed !important; }

.push-pin {
  position: relative !important; }

.right {
  float: right !important; }

.left {
  float: left !important; }

@media only screen and (max-width: 1366px) {
  .view-icon {
    font-size: 1.7rem;
    margin-left: 0;
    padding: 0 0.8rem; }
  .content-card {
    width: 90%;
    font-size: 1.5rem; } }

@media only screen and (max-width: 720px) {
  .poliocard {
    margin: 0.3rem 0; }
  #aboutModal {
    width: 300px; }
  .scroll-down-trigger, .scroll-up-trigger {
    display: none; }
  .view-icon {
    font-size: 1.4rem;
    margin-left: 0;
    padding: 0 0.5rem; }
  .button-group, .footer-button-group {
    text-align: center; }
  .content-card {
    width: 100%;
    font-size: 1.1rem; }
    .content-card .card-content {
      margin-bottom: 2rem; } }

@-webkit-keyframes triggerMove {50% {transform:translateY(-5px);}, 100%{transform:translateY(0px);}}
  @-moz-keyframes triggerMove {50% {transform:translateY(-5px);}, 100%{transform:translateY(0px);}}
  @-o-keyframes triggerMove {50% {transform:translateY(-5px);}, 100%{transform:translateY(0px);}}
  @-ms-keyframes triggerMove {50% {transform:translateY(-5px);}, 100%{transform:translateY(0px);}}
  @keyframes triggerMove {50% {transform:translateY(-5px);}, 100%{transform:translateY(0px);}};
