@import "./mixin.scss";
@import "./variable.scss";
@import "./function.scss";
//input
::-webkit-input-placeholder {
  color: $placeholder-text-color
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-text-color;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder-text-color;
}

:-ms-input-placeholder {
  color: $placeholder-text-color;
}



.input-field-label{
    bottom: 0;
    font-size: 1rem;
    pointer-events: none;
    position: absolute;
    top: 0.8rem;
    left:0;
    width: 100%;
    transform-origin: 0 0;
    white-space: nowrap;
    text-align: left;
    @include transition("color 0.2s, transform 0.2s");
}

.tw-input-field{
    position: relative;
    margin: .5rem 0;
    user-select : none;
    &.col label{
      left: 0.75rem;
    }
    &.col hr.focusline{
      width: calc(100% - 1.5rem);
      margin-left: 0.75rem;
    }
  & hr.focusline{
      position: absolute;
      margin: 0;
      left: 0;
      bottom:0;
      width: 100%;
      height: $input-focusline-height;
      background: $input-active-color;
      @include transition("transform 0.2s ease,background 0.2s ease");
      @include transform(scaleX(0));
      z-index: 1;
      border : 0;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
  }
}


//input type 입력태그
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    height: $input-height;
    font-size: $input-font-size;
    color:inherit;
    @include transition(all 0.3s ease);
    border: 0;
    border-bottom: solid 1px rgba(0,0,0,0.3);
    &.dirty + .input-field-label{
        @include transform("translateY(-1.5rem) scale(0.7);");
        & + hr.focusline{
          @include transform(scaleX(1));
        }
    }


    &[placeholder] + .input-field-label{
        @include transform("translateY(-1.5rem) scale(0.7);");
    }

    &.valid + .input-field-label{
        color: $input-valid-color;
        & + hr.focusline{
          background: $input-valid-color;
        }
    }

    &.invalid + .input-field-label{
        color: $input-invalid-color;
        & + hr.focusline{
          background: $input-invalid-color;
        }
    }

    //active = focus
    &.active + .input-field-label{
        color:  $input-active-color;
        @include transform("translateY(-1.5rem) scale(0.7);");
        & + hr.focusline{
          @include transform(scaleX(1));
        }
    }

    //valid 값이 있을때
    &.valid + .input-field-label{
      @include transform("translateY(-1.5rem) scale(0.7);");
      & + hr.focusline{
          @include transform(scaleX(1));
      }
    }


    &:focus{
        outline: 0;
    }


    &disabled{
    }
}

//select box

.tw-select-box{
    display: block;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    & .select-input {
      cursor: pointer;
    }
    & .select-dropdown {
       top:0px;
       left:0px;
       & li.selected{
          background: grey;
       }
       & li.disabled{
         color : grey;
       }
    }
    & .select-caret-down{
        position: absolute;
        margin: auto 0;
        right: 0;
        top:0;
        bottom: 0;
        height: 15px;
        font-size: 15px;
        z-index: -1;
    }
}

.tw-dropdown{
  position: absolute;
  padding: 0;
  margin: 0;
  will-change : max-height,opacity;
  overflow-y:auto;
  width: 100%;
  z-index: 999;
  box-shadow : $dropdown-box-shadow;
  background-color: white;
  max-height: 500px;
  display: none;
  opacity: 0;
  @include transform(scaleY(0.7));
  border-radius:$dropdown-box-radius;
  & li{
      text-transform : none;
      list-style-type: none;
      min-height: 2.5rem;
      line-height: 2.5rem;
      text-align: left;
      cursor: pointer;
      &:hover{
        background: #f1f1f1;
      }
      &.disabled{
          &:hover{
            background: none;
          }
      }
      & span{
        font-weight: bold;
        padding: 0.5rem 1rem;
      }
  }
}
