@import "./mixin.scss";
@import "./variable.scss";
@import "./function.scss";
#modal-shadow{
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height: 120vh;
    z-index: 1002;
    background-color: black;
    will-change: opacity;
    // @include transition("opacity 0.45s ease-in-out");
    opacity: 0;
}
.modal{
    display: none;
    position: fixed;
    margin: auto;
    top: 30%;
    left: 0;
    right: 0;
    max-height: $modal-maxheight;
    width: $modal-width;
    box-shadow: $modal-shadow;
    will-change : transform;
    opacity: 0;
    // @include transform(scaleX(0.7));
    z-index: 1003;
    background-color: white;
    border-radius: $modal-radius;
    overflow: hidden;
    & .modal-content{
        padding: 1.2rem;
    }
    & .modal-footer{
        display: block;
        position: relative;
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 0.2rem;
        text-align: right;
        margin: 0 1.2rem;
    }
}
