@import "./mixin.scss";
@import "./function.scss";

#aboutModal{
    width: 700px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    font-weight: 700;
}

#aboutModal .title{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.button-group{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 1rem;
}

.footer-button-group{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 1rem;
  bottom: 0;
}

.view-icon{
  position: relative;
  z-index: 3;
  top : 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 2rem;
  padding: 0 1rem;
  height: 3rem;
  margin-left : 1rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  margin: auto auto;
  &:hover{
    background: transparent;
    @include transform(scale(1.2));
  }
  &.fb-icon{
    color:#5C6BC0;
  }
}

.poliocard{
    margin: 0.5rem;
  }
#aboutModal .profile > img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#aboutModal .modal-footer{
  border-top: 1px solid rgba(255,255,255,0.3);
}

#myside-nav{
  background: #9E9E9E;
  & .menu{

  }
}
footer{
  height: 20vh;
  position: relative;
  width: 100%;
  bottom: 0;
  background: white;
  & .footer-content{
    position: absolute;
    border-top: 1px solid rgba(0,0,0,0.3);
    width: 90%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 0.5rem;
    & .content-text{
      position: absolute;
      top: 0;
      height: 50%;
      text-align: center;
      left: 0;
      right: 0;
      font-size : 0.9rem;
      font-weight: bold;
      margin-top: .5rem;
      & .gitUrl{
        text-decoration: underline;
        padding-top: 0.2rem;
        font-size : 0.8rem;
        cursor: pointer;
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  height: 280vh;
  & .main-content{
    position: relative;
    height: 100vh;
    &.last-content{
      height: 80vh;
    }
  }
}


.content-card{
  position: absolute;
  width: 70%;
  top : 60px;
  right: 0;
  left : 0;
  height: 100%;
  margin-top: 2rem;
  font-size : 1.7rem;
  text-align: center;
  opacity: 0;
  @include transition("opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)");
    & .card-content{
      margin-bottom: 2rem;
      & img{
        width: 40%;
      }
      & .card-text{
        text-align: center;
        font-weight: 800;
        margin-top : 0.5rem;
      }
    }


  &.show {
    opacity: 1;
  }
}
.scroll-down-trigger{
  position: absolute;
  bottom: 1rem;
  color: white;
  font-size: 3rem;
  padding: 0 3rem;
  height: 3rem;
  line-height: 3rem;
  width: 200px;
  left : 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  @include animate("triggerMove 0.75s infinite");
  overflow: visible;
  &::after{
    content: "아래로 이동";
    position: absolute;
    font-size: 1rem;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 12rem;
    padding: 0 1rem;
    left : 0;
    right: 0;
    margin: 0 auto;
    @include transform(translateY(-60px));
    z-index: 100;
    opacity: 1;
    pointer-events: none;
    @include transition("transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);");
  }
  &:hover{
    @include animate("none");
    &::after{
      opacity: 0;
        @include transform(translateY(-30px));
    }
  }
}


.scroll-up-trigger{
  position: absolute;
  bottom: 3rem;
  color: white;
  font-size: 3rem;
  padding: 0 3rem;
  height: 3rem;
  line-height: 3rem;
  width: 200px;
  left : 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  @include animate("triggerMove 0.75s infinite");
  overflow: visible;
  &::after{
    content: "맨위로  이동";
    position: absolute;
    font-size: 1rem;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 12rem;
    padding: 0 1rem;
    left : 0;
    right: 0;
    margin: 0 auto;
    @include transform(translateY(40px));
    z-index: 100;
    opacity: 1;
    pointer-events: none;
    @include transition("transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);");
  }
  &:hover{
    @include animate("none");
    &::after{
      opacity: 0;
      @include transform(translateY(20px));
    }
  }
}



.fixed{
  position: fixed !important;
}
.push-pin{
  position: relative !important;
}
.right{
    float:right !important;
}
.left{
    float:left !important;
}

@media only screen and (max-width : 1366px) {
  .view-icon{
    font-size: 1.7rem;
    margin-left: 0;
    padding: 0 0.8rem;
  }
  .content-card{
      width: 90%;
      font-size : 1.5rem;
  }
}



@media only screen and (max-width : 720px) {
    #aboutModal{
      width: 300px
    }
    .scroll-down-trigger, .scroll-up-trigger{
      display: none;
    }
   .view-icon{
     font-size: 1.4rem;
     margin-left: 0;
     padding: 0 0.5rem;
   }

   .button-group, .footer-button-group{
     text-align: center;
   }

   .content-card{
       width: 100%;
       font-size : 1.1rem;
       & .card-content{
         margin-bottom: 2rem;
       }
   }
 }





 @include keyframesubfix("triggerMove","{50% {@include transform(translateY(-5px));}, 100%{@include transform(translateY(0px));}}");
