@import "./mixin.scss";
@import "./variable.scss";
@import "./function.scss";

.trigger {
  position: absolute;
  z-index: 2;
  font-size: 3rem;
  cursor: pointer;
  color : rgba(255,255,255,0.3);
  @include transition(color 0.1s ease-out);
  top : 0;
  bottom : 0;
  margin: auto 5%;
  height: 4rem;
  &:hover{
    color : rgba(255,255,255,0.8);
  }
}

.view-git{
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5rem auto;
  padding: 0 1rem;
  width: 15rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  // padding: 0;
  font-weight: bold;
}
.slide-container{
    // max-width: 2000px;
    position: relative;
    margin: auto;
    width: 100%;
    will-change : transform, opacity;
    height: 20rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &.fullscreen{
        height: 100vh;
    }
    & .displayList{
      padding-left: 0;
      list-style-type: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom : 0;
      margin: 0;
      text-align: center;
      z-index: 1;
      & .display-item{
          position: relative;
          width: 1rem;
          height: 1rem;
          display: inline-block;
          background-color: rgba(255,255,255, 0.5);
          border-radius: 50%;
          margin: 1rem 5px;
          cursor: pointer;
          @include transition(background 0.3s ease-out);
          &.active {
             background-color: rgba(255,255,255, 1);
          }
      }

    }

    & .prev{
        @extend .trigger;
        left : 0;
    }
    & .next{
        @extend .trigger;
        right: 0;
    }
    & .slide{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        text-align: center;
        & .text-container{
            position: absolute;
            top: 30%;
            left:0;
            right:0;
            bottom: 0;
            width: 80%;
            height: 30%;
            margin: auto auto;
            color : white;
            opacity: 0;
            @include transition("opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1),top 1.5s cubic-bezier(0.23, 1, 0.32, 1)");
            &.show {
              opacity: 1;
              top:0;
            }
            & .title {
              font-size: 3rem;
              font-weight: bold;
              margin-bottom: 0.5rem;
            }
            & .content {
              font-size: 1.5rem;
            }

        }
        & img {
            width: 100%;
            height: 100%;
            user-select : none;
            -webkit-user-drag : none;
            -webkit-tap-highlight-color : rgba(0,0,0,0);
        }
    }
}



@media only screen and (max-width : 1366px) {
  .slide-container{
    &.fullscreen{
      height: 60vh;
    }
  }
  .view-git{
    font-size: 1.2rem;
  }
   .text-container{
     & .title{
       font-size: 2rem !important;
     }
     & .content{
       font-size: 1rem !important;
     }
   }
}
@media only screen and (max-width : 720px) {
  .slide-container{
    &.fullscreen{
      height: 40vh;
    }
  }
  .view-git{
    font-size: 1rem;
  }
  .text-container{
    & .title{
      font-size: 1.3rem !important;
    }
    & .content{
      font-size: 0.8rem !important;
    }
  }
}
