@import "./function.scss";
//card 변수
$radiuspx: 5px;
$card-link-color : #ffb300;
$card-linkhover-color : #ff6f00;

//button 변수
$button-radius : 3px;
$button-shadow : 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$button-height-default : 36px;
$button-height-large : 54px;
$button-color-white : "255,255,255";
$button-color-black : "0,0,0";
$button-color-yellow : "255, 235, 59";
$button-color-green : "76, 175, 80";
$button-color-red : "255, 0, 0";
$button-radius-float : 50% !default;
$button-float-width : 40px;
$button-float-height : 40px;
$button-float-large-width : 60px;
$button-float-large-height : 60px;

//side nav 변수
$sidenav-col-height : 40px;
$sidenav-back-radius: 5px;
$sidenav-avatar-radius: 50%;
$sidenav-closebtn-shadow : 0 5px 3px 5px rgba(0,0,0,0.14), 0 2px 10px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
$sidenav-closebtn-height : 26px;
$sidenav-shadow : 0 2px 2px 0 rgba(0,0,0,0.34), 0 1px 5px 0 rgba(0,0,0,0.32), 0 3px 1px -2px rgba(0,0,0,0.4);


//input-field
$input-field-shadow: 0px 0 0 1px rgba(0,0,0,0.14) inset;
$input-height : 3rem;
$input-focusline-height : 2px;
$input-bottomline-height : 1px;
$placeholder-text-color : grey;
$input-padding : 0 0.5rem;
$input-font-size : 1rem;
//dropdown
$dropdown-column-height : 1.5rem;
$dropdown-box-shadow : 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$dropdown-box-radius : 5px;
//modal
$modal-shadow : 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
$modal-maxheight :70%;
$modal-width : 55%;
$modal-radius : 5px;

//nav-bar
$nav-height-top : 100px;
$nav-height : 60px;
$nav-height-tablet : 50px;
$nav-height-mobile : 40px;
$nav-radius : 3px;
$nav-shadow : 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$nav-li-padding : 0 1rem;
