<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
<title>김태웅 git Page</title>
<script src="angularjs/angular.js"></script>
<script type="text/javascript"   src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>var myApp=angular.module("exampleApp",[]);
myApp.controller('mycontroller',  function($scope,$http){
$scope.ajax = function (number , name) {
	console.log(number, name)
	$http({
	method: 'POST', //방식
	url: 'http://localhost:3000/insert', /* 통신할 URL */
	data: {number : number , name : name }, /* 파라메터로 보낼 데이터 */
	headers: {'Content-Type': 'application/json; charset=utf-8'} //헤더
	})
	.success(function(data, status, headers, config) {
	if( data ) {
		console.log(data)
	}
	else {

	}
})
.error(function(data, status, headers, config) {
	console.log(status);
});
}

});
</script>
</head>
<body data-ng-controller="mycontroller">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>

  <input type="text" ng-model="number"><br>
  <input type="text" ng-model="name">
  <a class="btn waves-effect" ng-click="ajax(number, name)" >전송</a>

</body>
</html>