<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>TW Css</title>
    <link rel="shortcut icon" href="../image/favicon3.ico">
    <link href='https://fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/TW.css">
    <link rel="stylesheet" href="../css/testpage.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <header w3-include-html="./header.html"></header>
    <main class="row container">
        <div class="header-text col s12">Button</div>
        <div class="content-text col s12">아래는 기본 Button 예제들입니다. 기능과 종류는 많이 미흡합니다.<br>지속적으로 확장해나가겠습니다.</div>
        <a class="tw-btn indigo-d-3 white-text waves-effect">button-default</a>
        <a class="tw-btn-large indigo-d-3 white-text waves-effect" >button-large</a>
        <pre class="language-markup" data-src="../componentcode/button1.html"></pre>

        <div class="header-text col s12">Round Button</div>
        <a class="tw-btn-Round indigo-d-3 white-text waves-effect" ><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
        <a class="tw-btn-Round-large indigo-d-3 white-text waves-effect"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
        <pre class="language-markup" data-src="../componentcode/button2.html"></pre>



        <div class="header-text col s12">Transparent Button</div>
        <a class="tw-btn-clear waves-effect" data-waveColor="green">투명 버튼</a>
        <pre class="language-markup" data-src="../componentcode/button3.html"></pre>


        <div class="header-text col s12">Wave Effect</div>
        <div class="content-text col s12">Meterial Design Wave Effect를 사용할 수 있습니다.<br>
        Wave Effect 는 5가지의 색상을 지원합니다.</div>
        <div class="red-l-5 grid-block red-a-4-text waves-effect col s2" data-waveColor="red">red</div>
        <div class="green-l-5 grid-block green-a-4-text waves-effect col s2" data-waveColor="green">green</div>
        <div class="yellow-l-5 grid-block yellow-a-4-text waves-effect col s2" data-waveColor="yellow">yellow</div>
        <div class="black grid-block white-text waves-effect col s2" data-waveColor="white">white</div>
        <div class="white grid-block waves-effect col s2" data-waveColor="black">black</div>

        <pre class="language-markup" data-src="../componentcode/wave1.html"></pre>
        <div class="content-text col s12">Wave Effect는 모든 컴포넌트에 적용될 수 있습니다.<br>
           다만 z-index값이 0이기때문에 일부 엘리먼트로 인해 가려질 수 있습니다.</div>

    </main>
    <script src="../devjs/TweenLite.js"></script>
    <script src="../devjs/TW.js"></script>
    <script src="../devjs/prism.js"></script>
    <script src="../devjs/w3data.js"></script>
</body>

</html>
