<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>TW Css</title>
    <link href='https://fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/TW.css">
    <link rel="stylesheet" href="../css/testpage.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>
<body>
<header w3-include-html="./header.html" ></header>
<main class="row container">
      <div class="col s12">
        <div class="card col l4 push-l4 m6 push-m3 s12 ">
                <div class="card-profile">
                    <img src="/image/img_avatar2.png">
                </div>

                <div class="card-content">
                    <h3>카드예제1</h3>
                    <p>javascript full-stack Engineer</p>
                </div>
                <div class="card-action">
                    <a class="tw-btn waves-effect white-text indigo-l-1" data-waveColor="white">버튼을 넣을 수 있습니다.</a>
                </div>
        </div>
      </div>


      <div class="col s12">
        <div class="card col s12 m8 push-m2 l6 push-l3">
                <div class="card-content">
                    <p class="card-title">카드 예제2</p>
                    <p>javascript full-stack Engineer</p>
                </div>
                <div class="card-action">
                    <a class="tw-btn-Round  waves-effect" data-waveColor="black"><i class="fa fa-plus"></i></a>
                </div>
        </div>
      </div>


        <!-- <div class="card sidetemple col l4 m6 push-m3 s12">
                <div class="sideimg">
                    <img src="/image/images.jpg">
                </div>
                <div class="side-content">
                    <div class="card-content">
                        <p class="card-title">side 이미지 카드 example css flex를 이용하였습니다.</p>
                        <p>javascript full-stack Engineer</p>
                    </div>
                    <div class="card-action">
                        <a href="#sss">링크를 줄수있습니다.</a>
                        <a class="tw-btn">button</a>
                    </div>
                </div>
        </div> -->
    </div>





    <div class="row">
        <div class="col s12">
            <a class="tw-btn-large waves-effect yellow-l-5" data-waveColor="yellow">노란색 웨이브</a>

            <a class="tw-btn-Round  waves-effect" data-waveColor="black"><i class="fa fa-plus"></i></a>

            <a class="tw-btn waves-effect red-l-5" data-waveColor="red">빨간색 웨이브</a>

            <a class="tw-btn waves-effect green-l-5" data-waveColor="green">초록색 웨이브</a>

            <a class="tw-btn-clear waves-effect" data-waveColor="black">투명 버튼</a>

            <button class="tw-btn">일반 버튼</button>
        </div>
    </div>






    <h1>form Test</h1>
    <div class="row">
        <form method="GET" action="/asd">
            <div class="col s4">
                <select class="" id="myselect" name="myselected" data-labelText="Select Box">
        <option value="selected를 주지않으면 첫번째 옵션selected." selected>옵션1 selected</option>
        <option value="option2">옵션2</option>
        <option value="option3" disabled>옵션3 disabled</option>
        <option value="option4">옵션4</option>
      </select>
            </div>

            <div class="col s4">
              <div class="tw-input-field" data-waveColor="yellow2">
                <input type="text" name="pwd">
                <label class="input-field-label">일반 input field</label>
                <hr class="focusline">
              </div>
            </div>

            <div class="col s4">
                <div class="tw-input-field">
                    <input type="search" placeholder="검색" name="id">
                    <label class="input-field-label">placehoder 속성을 지정하면 label이 고정됩니다.</label>
                    <hr class="focusline">
                </div>
            </div>







            <button type="submit" class="col s12 tw-btn indigo-d-3 white-text " style="font-weight:bold;">이 버튼으로 submit 요청을 보낼 수 있습니다.</button>
        </form>

    </div>
    <hr>










    <h1>Modal Test</h1>
    <div class="row">
        <button class="col s6 tw-btn openModal indigo-d-3 white-text" data-target="logmodal" style="font-weight:bold;">이 버튼으로 모달창을 열 수 있습니다.</button>
        <div id="logmodal" class="modal">
            <div class="modal-content row">

                <div class="tw-input-field">
                    <input type="text">
                    <label for="input1" class="input-field-label">모달창안에 input</label>
                    <hr class="focusline">
                </div>

                <div class="tw-input-field ">
                    <input type="text">
                    <label for="input1" class="input-field-label">모달창안에 input</label>
                    <hr class="focusline">
                </div>
            </div>
            <div class="modal-footer">
                <a class="tw-btn-clear waves-effect">모달안에 clear button</a>
            </div>
        </div>
        <button class="col s6 tw-btn indigo-d-3 white-text" style="font-weight:bold;" onclick="javascript:twCom.fn.toast('toast 메세지는 마우스 or 터치 양쪽 스와이프로 제거가 가능합니다.', 4000);">이 버튼을 클릭하면 toast Message를 볼 수 있어요.</button>
        <div class="col s12">&nbsp;</div>
        <button class="col s12 tw-btn indigo-d-3 white-text" style="font-weight:bold;" onclick="javascript:twCom.fn.scrollAnimate(0, undefined, 1500,'easeOut');">이 버튼을 클릭하면 scroll 애니메이션이 수행되어 페이지 최상단으로 이동하게됩니다.</button>
    </div>

    <hr>

</main>
<script src="../devjs/TweenLite.js"></script>
<script src="../devjs/TW.js"></script>
<script src="../devjs/prism.js"></script>
<script src="../devjs/w3data.js"></script>
</body>

</html>
