<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>TW Css</title>
    <link rel="shortcut icon" href="../image/favicon3.ico">
    <link href='https://fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/TW.css">
    <link rel="stylesheet" href="../css/testpage.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <header w3-include-html="./header.html"></header>
    <main class="row container">
        <div class="header-text col s12">Form</div>
        <div class="content-text col s12">
            Tw Css에서는 input field에 label을 선언할때 id가 필요없습니다. 유효성 검사는 현재 개발중입니다.
        </div>

        <div class="header-text col s12">Text field 예제</div>
        <div class="tw-input-field col s6">
            <input type="text" name="text">
            <label class="input-field-label">text field</label>
            <hr class="focusline">
        </div>

        <div class="tw-input-field col s6">
            <input type="number" name="number">
            <label class="input-field-label">number field</label>
            <hr class="focusline">
        </div>

        <div class="tw-input-field col s12">
            <input type="text" placeholder="placeholder">
            <label class="input-field-label">place holder 속성을 지정하면 label이 고정됩니다. Wow~</label>
            <hr class="focusline">
        </div>

        <div class="tw-input-field col s12">
            <input type="text">
            <label class="input-field-label">focus line을 지울 수 있습니다.</label>
        </div>
        <pre class="language-markup" data-src="../componentcode/input1.html"></pre>






        <div class="header-text col s12">Select Box</div>
        <div class="content-text col s12">
            Selectbox는 내부적으로 box의 height 값이 페이지 최하단을 넘으면 위로 생성됩니다.
        </div>
        <form method="GET" action="/asd">
          <div class="col s12">
            <select class="" id="myselect" name="myselected" data-labelText="Select Box">
              <option value="selected를 주지않으면 첫번째 옵션selected." selected>옵션1 selected</option>
              <option value="option2">옵션2</option>
              <option value="option3" disabled>옵션3 disabled</option>
              <option value="option4">옵션4</option>
            </select>
          </div>
          <button type="submit" class="col s12 tw-btn indigo-d-3 white-text " style="font-weight:bold;">이 버튼의 submit요청으로 get방식의 parameter를 확인해보세요.</button>
        </form>
        <div class="col s12">&nbsp;</div>
        <pre class="language-markup" data-src="../componentcode/input2.html"></pre>
        <div class="header-text col s12">
          브라우저의 기본 select
        </div>

        <select class="browser-default col s12" id="myselect" name="myselected" data-labelText="Select Box">
          <option value="browser-default" selected>옵션1 browser-default</option>
          <option value="option2">옵션2</option>
          <option value="option3" disabled>옵션3 disabled</option>
          <option value="option4">옵션4</option>
        </select>
        <div class="col s12">&nbsp;</div>
        <pre class="language-markup" data-src="../componentcode/input3.html"></pre>
    </main>
    <script src="../devjs/TweenLite.js"></script>
    <script src="../devjs/TW.js"></script>
    <script src="../devjs/prism.js"></script>
    <script src="../devjs/w3data.js"></script>
</body>

</html>
