<div class="white-text indigo-d-3">
<div id="mysideNav" class="tw-sideNav fixed white-text indigo-d-3" data-width="250">
    <div class="grey-l-5 indigo-d-3-text" style="font-weight:bold; text-align:center; font-size:2rem; padding:1rem; cursor:pointer;" onclick="javascript:location.href='./main.html'">TW Css</div>
    <!-- <div class="profile">
<span class="name" style="font-weight:bold;"> side-Navbar </span>
<span class="title"> 타이틀 </span>
</div> -->
    <a class="waves-effect menu" data-waveColor="black" href="grid.html">Grid</a>
    <a class="waves-effect menu" data-waveColor="black" href="color.html">Color</a>
    <a class="waves-effect menu" data-waveColor="black" href="card.html">Card</a>
    <a class="waves-effect menu" data-waveColor="black" href="form.html">Form</a>
    <a class="waves-effect menu" data-waveColor="black">button</a>
    <a class="waves-effect menu" data-waveColor="black">wave</a>
    <a class="waves-effect menu" data-waveColor="black">toast</a>
    <a class="waves-effect menu" data-waveColor="black">modal</a>
    <a class="waves-effect menu" data-waveColor="black">scroll Animate</a>
    <a class="waves-effect menu" data-waveColor="black">드롭다운은 개발중.....</a>
</div>
<!-- 헤더 -->
<div class="tw-navbar">
    <ul class="container">
        <li class="logoTitle left" id="header-title" onclick="javascript:location.href='main.html'">TW Css</li>
        <li class="waves-effect show-m white-text" data-sidenav="mysideNav" data-trigger="open"><i class="fa fa-bars" aria-hidden="true"></i></li>
    </ul>
</div>
</div>
