<div class="white-text indigo-d-3">

<!--side Nav -->
<div id="mysideNav" class="tw-sideNav fixed white-text indigo-d-3" data-width="250">
    <div class="grey-l-5 indigo-d-3-text side-nav-logo" onclick="javascript:location.href='./main.html'">TW Css</div>
    <a class="waves-effect menu" data-waveColor="black" href="grid.html">Grid</a>
    <a class="waves-effect menu" data-waveColor="black" href="color.html">Color</a>
    <a class="waves-effect menu" data-waveColor="black" href="card.html">Card</a>
    <a class="waves-effect menu" data-waveColor="black" href="form.html">Form</a>
    <a class="waves-effect menu" data-waveColor="black" href="button.html">Button</a>
    <a class="waves-effect menu" data-waveColor="black" href="toast.html">Toast</a>
    <a class="waves-effect menu" data-waveColor="black" href="modal.html">Modal</a>
    <a class="waves-effect menu" data-waveColor="black" href="scrollanimate.html" >Scroll Animate</a> 
</div>
<!-- 헤더 -->
<div class="tw-navbar">
    <ul class="container">
        <li class="logoTitle left" id="header-title" onclick="javascript:location.href='main.html'">TW Css</li>
        <li class="waves-effect show-m white-text" data-sidenav="mysideNav" data-trigger="open"><i class="fa fa-bars" aria-hidden="true"></i></li>
    </ul>
</div>
</div>
