<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>TW Css</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/TW.css">
    <link rel="stylesheet" href="../css/testpage.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <header w3-include-html="../components/header.html" ></header>
    <main>
      <div class="row container">
        <div class="header-text col s12">소개</div>
        <div class="content-text col s12"><span class="pink-a-3-text">TW Css는 native javascript 와 Sass 문법을 기반으로 하는 CSS 프레임워크(라이브러리에 가깝습니다.)</span> 입니다. 특징은 다른 Bootstrap이나 Meterialize CSS 같은 Jquery기반의 프레임워크에 비해 의존성이 가볍습니다.(가벼운 만큼 개발된 컴포넌트도 많이 없습니다. 지속적으로 꾸준히 개발예정입니다.) 디자인은 구글 Meterial Design을 기반으로 하고있으며, Jquery 기반의 <a class="indigo-a-3-text"
                href="http://materializecss.com/getting-started.html" target="_blank">Meterialize CSS</a>, <a class="indigo-a-3-text"
                        href="https://www.w3schools.com/" target="_blank">W3school</a> 프레임워크 오픈소스를 참고하여서 개발하게되었습니다.
        </div>

        <div class="header-text col s12">소스보기</div>
        <div class="col s12" style="margin-bottom:1rem;">
            <div class="content-text">
                소스는 현재 정리가 안되어서 모든내용을 포함하고있습니다. 빠른시일내에 개선하겠습니다.
            </div>
            <a class="tw-btn indigo-d-3 white-text" onclick="javascript:window.open('https://github.com/tawon2137/TW.js')"><i class="fa fa-github"></i>&nbsp;View on GitHub</a>
        </div>
        <div class="header-text col s12">적용방법 HTML</div>
        <pre class="language-markup" data-src="../componentcode/dependency.html"></pre>
      </div>
    </main>


    <script src="../devjs/TweenLite.js"></script>
    <script src="../devjs/TW.js"></script>
    <script src="../devjs/prism.js"></script>
    <script src="../devjs/w3data.js"></script>
</body>

</html>
