<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>TW Css</title>
    <link rel="shortcut icon" href="../image/favicon3.ico">
    <link href='https://fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/TW.css">
    <link rel="stylesheet" href="../css/testpage.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <header w3-include-html="./header.html"></header>
    <main class="row container">

        <div class="header-text col s12">Modal</div>
        <div class="content-text col s12"><span class="pink-a-3-text">Dialog 창을 TW Css를 통해 구현이 가능합니다.</span><br>
        사용방법은 아래와 같습니다.</div>
        <div id="mymodal" class="modal">
            <div class="modal-content row">
              content zone
            </div>
            <div class="modal-footer">
                <a class="tw-btn-clear waves-effect">모달안에 clear button</a>
            </div>
        </div>
        <a class="col s12 tw-btn openModal indigo-d-3 white-text" data-target="mymodal" style="font-weight:bold; margin-bottom:1rem;">이 버튼으로 모달창을 열 수 있습니다.</a>
        <pre class="language-markup" data-src="../componentcode/modal1.html"></pre>
        <!-- <button class="col s12 tw-btn indigo-d-3 white-text" style="font-weight:bold;" onclick="javascript:twCom.fn.scrollAnimate(0, undefined, 1500,'easeOut');">이 버튼을 클릭하면 scroll 애니메이션이 수행되어 페이지 최상단으로 이동하게됩니다.</button> -->
        <div class="content-text col s12"><span class="pink-a-3-text">Modal 내부에 닫기버튼을 생성할 수 있으며, Modal의 생성자 함수에 Option을 줄 수 있습니다.</span><br>
        사용방법은 아래와 같습니다.</div>
        <div id="yourmodal" class="modal">
            <div class="modal-content row">
              content zone
            </div>
            <div class="modal-footer">
                <a class="tw-btn-clear waves-effect closeModal">닫기</a>
            </div>
        </div>
        <a class="col s12 tw-btn openModal indigo-d-3 white-text" data-target="yourmodal" style="font-weight:bold; margin-bottom:1rem;">이 버튼으로 모달창을 열 수 있습니다.2</a>
        <pre class="language-markup" data-src="../componentcode/modal2.html"></pre>
    </main>
    <script src="../devjs/TweenLite.js"></script>
    <script src="../devjs/TW.js"></script>
    <script src="../devjs/prism.js"></script>
    <script src="../devjs/w3data.js"></script>
    <script>
        twCom.Modal.init("mymodal");
        twCom.Modal.init("yourmodal",
        {
          onClose : false,
          startY : 200,
          endY : 100,
          openCallback : function () {
            console.log("모달이 오픈되다.")
          },
          closeCallback : function () {
            console.log("모달이 Close되다.")
          }
      });
    </script>

</body>

</html>
